html {
    box-sizing: border-box;
}

body {
    /* без відступів */
    margin: 0; 
    /* 100vh - без скролингу, за 100 уже є вертикальний скролинг */
    min-height: 100vh;
    background: dodgerblue;     
}